# Force HTTPS security to any URL input
# Examples: www.mediamakermatt.com, http://www.mediamakermatt.com
# Both examples get redirected to use https://www.mediamakermatt.com
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"