.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    flex-grow: 1;
    padding: 1rem;
}

.flex-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.show {
    display: block;
}

.hide {
    display: none;
}
