body {
    text-align: left;
    margin: 0;
    padding: 50px;
    border: 10px solid red;
}
#ttr_sidebar {
    border-left: 1px solid black;
}
#ttr_footer {
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: center;
}
.title {
    font-size: 11pt;
    font-family: verdana;
    font-weight: bold;
}